.Update-Post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Update-post-Cards {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Update-post-Cards h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .Update-post-Cards label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Update-post-Cards input,
  .Update-post-Cards select,
  .Update-post-Cards button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .Update-post-Cards button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  
  .Update-post-Cards button:hover {
    background-color: #0056b3;
  }
  